.settings-hero{
    display: felx;
    padding: 1rem, 3rem;
    gap: 2rem;
}

.settings-info{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.settings-info h1{
    font-size: 2.5rem;
}

.settings-hero img{
    width: 200px;
    border-radius: 50%;
}

.challenge-options {
    margin-top: 1rem;
}

.row-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.option-title h1 {
    font-size: 2rem;
}

.option-title {
    width: 250px;
}

.row-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.option-btn {
    height: 30px;
    width: 100px;
    padding: 5px 10px;
    background-color: darkgray;
    border-radius: 4px;
}

.active-btn {
    background-color: blueviolet;
}

input {
    display: none;
}